<div class="home">
  <div class="home-content">
    <p class="title">QUIZ</p>
    <p class="subtitle">Teste seus conhecimentos sobre primeiros socorros</p>
    <quiz-button text="Iniciar" routerLink="jogador"></quiz-button>
  </div>
  <div class="home__bottom-buton">
    <quiz-button text="Orientações" routerLink="orientacoes"></quiz-button>
    <quiz-button text="Equipe" routerLink="equipe"></quiz-button>
  </div>
</div>

<div class="logo">
  <img src="../../assets/logo/ifal.png" alt="Ifal Alagoas">
  <img src="../../assets/logo/ufpb.png" alt="Universidade Federal da Paraiba">
  <img src="../../assets/logo/ctp.png" alt="Curso Profissional e Técnologico">
  <img src="../../assets/logo/proex.png" alt="Pró-reitoria de extensão/UFPB">
</div>

<div class="login" routerLink="/login">
  <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
</div>
