<div class="home">
  <div class="home-content">
    <p class="title">QUIZ</p>
    <p class="subtitle">Teste seus conhecimentos sobre primeiros socorros</p>
    <button class="button-82-pushable" role="button" routerLink="jogador">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge"></span>
      <span class="button-82-front text">
        INICIAR
      </span>
    </button>
  </div>
  <div class="home__bottom-buton">
    <button class="button-35" role="button" routerLink="orientacoes">ORIENTAÇÕES</button>
    <button class="button-35" role="button" routerLink="equipe">EQUIPE</button>
  </div>
</div>
