@import '/src/variables';

:host {
  height: -webkit-fill-available;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/assets/home.svg) no-repeat bottom right $background-path;
  background-size: 40%;
  z-index: -1;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title, .subtitle {
    font-size: 28px;
    margin: 30px;
    color: $primary-color;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
  }

  .title {
    margin-bottom: 0px;
  }

  .subtitle {
    font-size: 18px;
    margin-top: 0px;
  }

 .files {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    place-items: center;
    margin-top: 35px;

    a {
      background: $primary-color;
      color: $white;
      border-radius: 12px;
      padding: 10px;
      text-decoration: none;
      max-width: 280px;
      width: -webkit-fill-available;
    }

    a:hover {
      background-color: $primary-color-hover;
    }
 }

  button {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
    justify-content: center;
    margin-top: 70px;
  }

  button:hover {
    transform: scale(1.05);
  }

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
}