@import '/src/variables';

:host {
  display: flex;
  background: $background;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
}

.path {
  background: $background-path;
  border-radius: 25px;
  width: 100%;
  margin: 18px 18px 18px 36px;
  overflow: hidden;
  position: relative;
  display: flex;
  max-width: 536px;
  flex: 1;

  svg {
    margin: 20px;
    overflow: visible;
    height: auto;
    width: auto;
  }
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  margin: 18px 36px 18px 18px;
  max-width: 536px;
  font-size: 1rem;
  flex: 1;
  justify-content: space-between;

  .bonus {
    opacity: 0;
    position: fixed;
  }

  .alternatives {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 2rem;
      font-weight: bold;
      align-self: center;
    }

    .statement {
      text-transform: uppercase;
    }

    .alternative {
      cursor: pointer;
      background-color: $background-path;
      color: $black;
      border-radius: 15px;
      padding: 0px 14px;
      margin-bottom: 10px;
      width: -webkit-fill-available;
      text-transform: uppercase;
    }

    .alternative-selected {
      background-color: $selected !important;
    }

    .alternative:hover {
      background-color: #e2e2e2;
    }

    .hit {
      background-color: $right !important;
      color: $background-path;
      animation: pulse 0.6s ease-in;
    }

    .mistake {
      background-color: $mistake !important;
      color: $background-path;
      animation: shake 0.5s ease-in-out;
    }

    .blocked {
      cursor: no-drop;
    }
  }
}

.right {
  fill: $right;
}

.mistake {
  fill: $mistake;
}

.selected {
  stroke-width: 15px;
  stroke-width: 15px;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.ocult {
  display: none;
}

.show {
  display: block;
}

.animation {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #eeeeeeeb;
  width: -webkit-fill-available;
  justify-content: space-around;
  padding: 16px;

  .message {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-align: -webkit-center;
    top: -12%;
    position: relative;
  }
}

.bonus-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  border-radius: 25px;
  text-align: center;
  flex: 1;
  padding: 12px;
  justify-content: space-around;

  p {
    margin: 0px;
  }

  .bonus-subtitle {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  ng-lottie {
    display: flex;
    place-content: center;
    flex: 1;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  :host {
    display: block;
    flex-grow: 1;
    height: auto;

  }

  .path {
    margin: 12px;
    margin-bottom: 0px;
    max-height: 45vh;
    justify-content: center;
    width: -webkit-fill-available;
  }

  .question {
    margin: 12px;
    margin-top: 0px;
    font-size: 14px;

    .bonus {
      position: unset;
    }

    .alternatives {
      text-align: center;

      .title {
        font-size: 24px;
      }

      .alternative {
        font-size: 12px;
      }
    }

  }

  quiz-button {
    z-index: 2;
  }

  .animation {
    position: fixed;
    justify-content: space-evenly;
    top: 0;
  }

  .bonus-animation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0px;
    padding: 16px 16px;
    gap: 30px;
    height: 100%;
    justify-content: unset;

    ng-lottie {
      flex: 0;
      width: 80%;
      cursor: pointer;
    }
  }

  .good-subject {
    background-color: $background-blue;
  }

  .bad-subject {
    background-color: $background;
  }
}

.block {
  animation: animateWidth 1.2s;
}

@keyframes animateWidth {
  0% {
    stroke-width: 1;
  }

  30% {
    stroke-width: 25;
  }

  50% {
    stroke-width: 10;
  }

  70%,
  100% {
    stroke-width: 15;
  }
}


@keyframes shrinkAnimation {
  0% {
    transform: scale(32);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes moveInCircle {
  0% {
    transform: translateX(0) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }
}

@keyframes pulse {
  60% {
    box-shadow: 0 0 40px 10px $background-path
  }

  80% {
    box-shadow: 0 0 40px 10px #eeeeeeb0;
  }

  100% {
    box-shadow: 0 0 40px 10px #eeeeee00;
  }
}
