@import '/src/variables';

:host {
  background-color: $background;
  flex-grow: 1;
}

.example-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 28px;
  margin: 30px;
  color: $white;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.example-full-width {
  width: 100%;
}

.form-content {
  display: flex;
  width: 85%;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.input-content {
  width: 60%;
  max-width: 500px;
  background-color: $white;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.choose-character {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  max-width: 470px;
  gap: 14px;
}

.gif-container {
  background-color: $white;
  border-radius: 12px;
  cursor: pointer;
  border: 5px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  // height: 24vh;
  transition: border-color 0.3s ease, transform 0.4s ease;
}

.gif-container:hover{
  transform: scale(1) rotate(-4deg);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.selected {
  border: 5px solid $dark-blue;

  .gif {
    opacity: 1;
  }

  .static {
    opacity: 0;
  }
}

.gif {
  position: absolute;
  width: 100%;
  height: 100%;
}

.static {
  opacity: 1;
  pointer-events: none;
  position: absolute;
  width: 73%;
  height: 73%;
}

.gif {
  opacity: 0;
}

.gif-container:hover .gif {
  opacity: 1;
}

.gif-container:hover .static {
  opacity: 0;
}

.actions {
  display: flex;
  gap: 20px;
  margin: 10px 0px 15px;
}

@media only screen and (max-width: 850px) {
  .form-content {
    flex-direction: column;

    .input-content {
      width: 93%;
    }

    .gif-container {
      height: 18vh;
    }
  }

  .actions {
    flex-direction: column;
    margin: 20px 0px 20px;
  }
}
