@import '/src/variables';

:host {
  background-color: $background;
  height: 100%;
}

.example-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  margin: 30px;
  color: $white;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.example-full-width {
  width: 100%;
}

.form-content {
  display: flex;
  width: 85%;
}

.input-content {
  width: 60%;
  margin: 10px;
  background-color: $white;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.choose-character {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.gif-container {
  background-color: $white;
  border-radius: 12px;
  cursor: pointer;
  border: 5px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  margin: 10px;
  transition: border-color 0.3s ease, transform 0.4s ease;
}

.gif-container:hover{
  transform: scale(1) rotate(-4deg);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.selected {
  border: 5px solid $dark-blue;

  .gif {
    opacity: 1;
  }

  .static {
    opacity: 0;
  }
}

.gif,
.static {
  position: absolute;
  width: 140px;
  height: 140px;
}

.static {
  width: 100px;
  height: 100px;
}

.static {
  opacity: 1;
  pointer-events: none;
}

.gif {
  opacity: 0;
}

.gif-container:hover .gif {
  opacity: 1;
}

.gif-container:hover .static {
  opacity: 0;
}

.actions {
  display: flex;
  gap: 10px;
  button {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
    justify-content: center;
    margin-top: 70px;
  }

  button:hover {
    transform: scale(1.05);
  }

  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      #4d0003 8%,
      #530003 92%,
      hsl(0, 97%, 14%) 100%
    );
  }

  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    background: hsl(0, 0%, 100%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .button-82-front2 {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background: #9d1722;
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }

  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
}

