<form [formGroup]="playerForm" class="example-form">
  <p class="title">Preencha os dados abaixo e escolha seu personagem:</p>
  <div class="form-content">
    <div class="input-content">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input type="Nome" matInput formControlName="name" [errorStateMatcher]="matcher"
              placeholder="Ex. João da Silva">
        <mat-error *ngIf="playerForm.get('name')?.hasError('required')">Nome é <strong>necessário</strong></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Escolaridade</mat-label>
        <mat-select formControlName="school">
          <mat-option *ngFor="let option of schoolArray" [value]="option">{{ option.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="playerForm.get('school')?.hasError('required')">Escolaridade é <strong>obrigatória</strong></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Série</mat-label>
        <mat-select formControlName="year" [disabled]="!playerForm.get('school')?.value">
          <mat-option *ngFor="let option of playerForm.get('school')?.value?.options" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let option of stateArray" [value]="option">{{ option.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="playerForm.get('state')?.hasError('required')">Estado é <strong>obrigatório</strong></mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <mat-select formControlName="city" [disabled]="!playerForm.get('state')?.value">
          <mat-option *ngFor="let option of playerForm.get('state')?.value?.options" [value]="option">{{ option }}</mat-option>
        </mat-select>
        <mat-error *ngIf="playerForm.get('city')?.hasError('required')">Cidade é <strong>obrigatória</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="choose-character">
      <span class="gif-container"
            [class.selected]="playerForm.get('character')?.value === CharacterTypeEnum.cat"
            (click)="chooseCharacter(CharacterTypeEnum.cat)">
        <img class="gif" src="../../assets/animations/cat.gif" alt="Animated GIF">
        <img class="static" src="../../assets/animations/cat.png" alt="Static Image">
      </span>
      <span class="gif-container"
            [class.selected]="playerForm.get('character')?.value === CharacterTypeEnum.frog"
            (click)="chooseCharacter(CharacterTypeEnum.frog)">
        <img class="gif" src="../../assets/animations/frog.gif" alt="Animated GIF">
        <img class="static" src="../../assets/animations/frog.png" alt="Static Image">
      </span>
      <span class="gif-container"
            [class.selected]="playerForm.get('character')?.value === CharacterTypeEnum.owl"
            (click)="chooseCharacter(CharacterTypeEnum.owl)">
        <img class="gif" src="../../assets/animations/owl.gif" alt="Animated GIF">
        <img class="static" src="../../assets/animations/owl.png" alt="Static Image">
      </span>
      <span class="gif-container"
            [class.selected]="playerForm.get('character')?.value === CharacterTypeEnum.parrot"
            (click)="chooseCharacter(CharacterTypeEnum.parrot)">
        <img class="gif" src="../../assets/animations/parrot.gif" alt="Animated GIF">
        <img class="static" src="../../assets/animations/parrot.png" alt="Static Image">
      </span>
      <span class="gif-container"
            [class.selected]="playerForm.get('character')?.value === CharacterTypeEnum.porcupine"
            (click)="chooseCharacter(CharacterTypeEnum.porcupine)">
        <img class="gif" src="../../assets/animations/porcupine.gif" alt="Animated GIF">
        <img class="static" src="../../assets/animations/porcupine.png" alt="Static Image">
      </span>
      <span class="gif-container"
            [class.selected]="playerForm.get('character')?.value === CharacterTypeEnum.unicorn"
            (click)="chooseCharacter(CharacterTypeEnum.unicorn)">
        <img class="gif" src="../../assets/animations/unicorn.gif" alt="Animated GIF">
        <img class="static" src="../../assets/animations/unicorn.png" alt="Static Image">
      </span>
    </div>
  </div>
  <div class="actions">
    <quiz-button
      text="VOLTAR"
      routerLink="/">
    </quiz-button>
    <quiz-button 
      *ngIf="!playerForm.invalid"
      (click)="onSubmit()"
      text="CONTINUAR"
      color="green"
      routerLink="jogador">
    </quiz-button>
  </div>
</form>
