apiKey=
authDomain=
projectId=
storageBucket=
messagingSenderId=
appId=
JWT_SECRET=
private_key_id=
private_key=
client_email=
client_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
client_x509_cert_url=
universe_domain=
prod=true