<div class="info-content">
  <div class="info">
    <h1>Informações:</h1>
    <p>Antes de fornecemos os material de estudo e liberarmos para você fazer o Quiz,
      faremos um Pré-Quiz, 10 perguntas sobre Primeiros Socorros apenas para medir seu conhecimento prévio.</p>
      <p>Não se preocupe se acertar ou errar, isso não irá interferir no seu resultado do Quiz!</p>
    </div>

    <div class="actions">
      <quiz-button
      (click)="startPreQuiz()"
      text="Continuar"
    color="green">
  </quiz-button>
</div>
</div>
