<div class="container">
  <p class="title">CLIQUE NOS ASSUNTOS ABAIXO PARA FAZER DOWNLOAD</p>
  <p class="subtitle">APÓS BAIXAR E FINALIZAR SEUS ESTUDOS, CLIQUE EM CONTINUAR PARA INICIAR O QUIZ!</p>
  <div class="files">
    <a *ngFor="let item of orientationsArray"  (click)="downloadFile(item.path)" download="{{item.subject}}.pdf">
      <p>{{item.subject}}</p>
    </a>
  </div>
  <div class="button">
    <quiz-button text="Continuar" color="green" [routerLink]="'/quiz'">
    </quiz-button>
  </div>
</div>
