<div *ngIf="isLoading" class="loading">
  <div class="spinner-content">
    <span class="spinner"></span>
  </div>
</div>

<div class="container">
  <div class="details">
    <form [formGroup]="loginForm" class="form">
      <div class="form-content">
        <mat-error *ngIf="error.length > 0">{{error}}</mat-error>
        <mat-form-field class="example-full-width">
          <mat-label>Login</mat-label>
          <input type="email" matInput formControlName="email"
                placeholder="Ex. joaosilva@gmail.com">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email é <strong>obrigatório</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Senha é <strong>obrigatória</strong></mat-error>
        </mat-form-field>
      </div>
    </form>

    <quiz-button text="Entrar" color="green" (click)="submit()" [disabled]="this.loginForm.invalid"></quiz-button>
    <quiz-button text="Voltar"  routerLink="/"></quiz-button>
    <!-- <button (click)="submit()">Entrar</button> -->
    <!-- <div class="register">
      Novo usuário?
      <a routerLink="/cadastro" [queryParams]="{returnUrl : returnUrl}">
        Cadastre aqui!
      </a>
    </div> -->
  </div>
</div>
