.container {
  margin: 20px 20px 100px;
}

h3, h4 {
  margin: 0px;
}

.curriculum {
  text-align: justify;
}

.button {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -30%);
}
