$primary-color: #E51818;
$primary-color-hover: #c71414;
$white: #fff;
$black: #000;
$background: #E85B5B;
$background-blue: #5b6ce8;
$background-path: #EEEEEE;
$dark-blue: #052A75;
$dark-blue-hover: rgb(14, 62, 160);
$mistake: #F23208;
$right: #37B42C;
$right-hover: #2c8b24;
$block-dark: #695f5f;
$block-light: #a69797;
// $hover: ;
$selected: #FFB828;
