$primary-color: #E51818;
$white: #fff;
$black: #000;
$background: #E85B5B;
$background-blue: #5b6ce8;
$background-path: #EEEEEE;
$mistake: #F23208;
$right: #37B42C;
$right-hover: #2c8b24;
$block-dark: #695f5f;
$block-light: #a69797;
// $hover: ;
$selected: #FFB828;
