@import '/src/variables';

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/assets/home.svg') no-repeat bottom right;
  background-size: contain;
  background-size: 40%;
  z-index: -1;
}

